header {
	height: 200px;
	width: 900px;
	background-color: black;
	text-align: center;
	color: white;
}
nav {
	border: 0 20px 0 20px;
	border-style: ridge;
	border-color: #B24F00;
	margin: 0 10px 0 10px;
	background-color: #FFA359;
}
li {
	float: left;
	display: inline-block;
}