body {
	background: #213940;
	color: #FFF9D8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-bottom: ;
	margin-left: ;
	margin-right: ;
	margin-top:;
	text-align: center;
}
header {
	margin: 25px;
	background-attachment: fixed;
	background-image: ("images/jokullsarlon.jpg");
	background-repeat: no-repeat;
	color: #E5E0C2;
	font-size: 60px;
	font-weight: bolder;
	text-align: left;
	text-transform: uppercase;
}
#learning {
	text-align: left;
}
#slogan {
	background-color: #76CCE5;
	border-style: inset;
	color: #FFF9D8;
	font-size: 40px;
	font-style: italic;
	text-transform: uppercase;
}
a {
	color: #42727F;
}